@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, Oswald, Merienda, "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

body {
  background: #fcfafa;
}

a {
  text-decoration: none;
}

input:focus {
  outline: none;
}

p {
  letter-spacing: 0.2px;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 28px;
  }
  h4 {
    font-size: 26px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 22px;
  }
}

.none_sm {
  @media only screen and (max-width: 768px) {
    display: none !important;
  }
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

label {
  margin-bottom: 5px;
  display: block;
}

.base_input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 3px;
  padding: 0 12px;
  outline: 2px solid #ddd;
  &:focus {
    outline: 2px solid #5f22d1;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.base_input_icon {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 40px;
    background: #fff;
    border: none;
    border-radius: 3px;
    padding: 0 12px;
    padding-left: 52px;
    outline: 2px solid #ddd;
    &:focus {
      outline: 2px solid #5f22d1;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }
  .icon {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    min-width: 40px;
    width: 40px;
    height: 40px;
    border-radius: 4px 0 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    font-size: 14px;
    img {
      width: 20px;
    }
    span {
      border-radius: 1px solid #ddd;
    }
  }
  button {
    margin-left: 5px;
  }
}

.base_textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 100px;
  background: #fff;
  border: none;
  border-radius: 3px;
  padding: 12px;
  outline: 2px solid #ddd;
  &:focus {
    outline: 2px solid #5f22d1;
  }
}

.base_select {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 3px;
  padding: 0 12px;
  border-right: 12px solid #fff;
  outline: 2px solid #ddd;
  &:focus {
    outline: 2px solid #5f22d1;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.base_btn {
  padding: 0 20px;
  width: fit-content;
  height: 40px;
  color: #fff;
  font-size: 12px;
  background: #5f22d1;
  border-radius: 3px;
  &:focus {
    outline: 2px solid #5f22d1;
    outline-offset: 2px;
  }
}
.danger {
  background: #ec3d6c;
  &:focus {
    outline: 2px solid #ec3d6c;
  }
}

.text-primary {
  color: #ff27c2;
}

.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex_inputs {
  display: flex;
  justify-content: space-between;
  gap: 0 12px;
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 24px 0px;
  }
}

.transparent_scrollbar {
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
}

.transparent_scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.transparent_scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.transparent_scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}
